<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="intervalMinutes" value="1"/>
    <!--<add key="url" value="http://localhost/amztracking/Automation/TrackASINs"/>-->
    <add key="url" value="http://localhost/amztracking/Automation/testScheduler"/>
    <add key="ClientSettingsProvider.ServiceUri" value=""/>
    <add key="totalGroups" value="8"/>
    <add key="ApplicationPath" value="C:\github\selenium-test-sample"/>
  </appSettings>
  <connectionStrings>
    <!--<add name="AmazonStockTracking" connectionString="Password=P@ss6692;User ID=sa;Initial Catalog=AmazonStockTracking;Data Source=192.168.1.251\SQLEXPRESS"/>-->
    <add name="AmazonStockTracking" connectionString="Data Source=DESKTOP-3EAHNA4\SQLEXPRESS;Initial Catalog=AmazonStockTracking;Integrated Security=SSPI" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8"/>
  </startup>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri=""/>
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400"/>
      </providers>
    </roleManager>
  </system.web>
</configuration>
